# 4. Tuples in Python


__Tuples are immutable list and cannot be changed in any way when once it is created.__

 __* Tuples are defined in the same way as list.__
 __* They are enclosed within parenthesis and not within square braces.__
 __* Tuples are ordered, indexed collections of data.__
 __* Similar to string indices, the first value in the tuple will have the index[0], the second value [1].__
 __* Negative indices are counted from the end of the tuple, just like list.__
 __* Tuple also has the same structures whereas commas seperated the values.__
 __* Tuples can store duplicate values.__
 __* Tuples allow you to store several data items including string, integer, float, boolean in one variables.__

In [11]:
# Take a tuple


tuple_1=('Hello','Python',3.14,1.618,True,False,32,[1,2,3],{1,2,3},{'a':32,'b':8},(0,1))

tuple_1

('Hello',
 'Python',
 3.14,
 1.618,
 True,
 False,
 32,
 [1, 2, 3],
 {1, 2, 3},
 {'a': 32, 'b': 8},
 (0, 1))

In [3]:
print(type(tuple_1))
print(len(tuple_1))

<class 'tuple'>
11

In [7]:
# printing the each value in a tuple using both positive and negativ indexing.

print(tuple_1[0])
print(tuple_1[1])
print(tuple_1[2])
print(tuple_1[3])

Hello
Python
3.14
1.618

In [10]:
print(tuple_1[-11])
print(tuple_1[-10])
print(tuple_1[-9])

Hello
Python
3.14

In [18]:
print(tuple_1[0])
print(type(tuple_1[0]))
print(tuple_1[1])
print(type(tuple_1[1]))
print(tuple_1[2])

Hello
<class 'str'>
Python
<class 'str'>
3.14

# Concatenation in tuples

In [22]:
first_name='Akhilesh'
last_name=' Gawade'
print(first_name)
print(last_name)

Akhilesh
 Gawade

In [23]:
print(first_name+last_name)

Akhilesh Gawade

In [28]:
tuple_2=(1,2,3,4,5,6,7,8,9)

print(tuple_2)
print(2 in tuple_2)
print(10 in tuple_2)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
True
False

# slicing

__* To obtain a new tuple from the current tuple, the slicing method is used.__

In [29]:
tuple_1

('Hello',
 'Python',
 3.14,
 1.618,
 True,
 False,
 32,
 [1, 2, 3],
 {1, 2, 3},
 {'a': 32, 'b': 8},
 (0, 1))

In [33]:
tuple_1[0:1]

('Hello',)

In [34]:
tuple_1[4:5]

(True,)

In [35]:
tuple_2

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [37]:
tuple_3=(0,10,14,15,9,82,34,7,5)
x=sorted(tuple_3)
print(x)

[0, 5, 7, 9, 10, 14, 15, 34, 82]