# Sets in Python


 __* Sets is one of the 4th data types in Python used to store collections of data including List, Tuples, and Dictionary.__
 
 __* Sets are unordered, but Duplicate elements are not allowed.__
 
 __* Sets element are unique but you can remove and add new items.__
 
 __* A set itself may be modified, but the element contained in the set must be an immutable type.__
 
 __* Sets are used to store multiple items in a single variable.__
 
 __* You can denote a set with pair of curly brackets.{}__

In [4]:
# The empty set of curly braces denotes the empty dictionary, not empty set.

x={}
print(type(x))

<class 'dict'>

In [2]:
y=set()
print(type(y))

<class 'set'>

In [5]:
set1={'Hello Python',3.14,1.618,'Hello World',3.14,1.618,True,False,2023}
set1

{1.618, 2023, 3.14, False, 'Hello Python', 'Hello World', True}

In [6]:
print(type(set1))

<class 'set'>

# Converting list to a set

In [8]:
nlis=['Hello Python',3.14,1.618,'Hello World',3.14,1.618,True,False,2023]
print(nlis)


# Convert the list into set

set2=set(nlis)
print(set2)

['Hello Python', 3.14, 1.618, 'Hello World', 3.14, 1.618, True, False, 2023]
{'Hello Python', 1.618, True, 3.14, False, 2023, 'Hello World'}

# Set operations

In [9]:
set3={'Hello Python',3.14,1.618,'Hello World',3.14,1.618,True,False,2023}
set3

{1.618, 2023, 3.14, False, 'Hello Python', 'Hello World', True}

# add() functions

 __To add an element into a set, We use the function add(). If the same element is added to the set, nothing will happen because the set accepts no duplicates.__

In [10]:
set3

{1.618, 2023, 3.14, False, 'Hello Python', 'Hello World', True}

In [11]:
set3.add('Hi,Akhilesh')
set3

{1.618, 2023, 3.14, False, 'Hello Python', 'Hello World', 'Hi,Akhilesh', True}

In [12]:
set3.add('Hi,Akhilesh')
set3

{1.618, 2023, 3.14, False, 'Hello Python', 'Hello World', 'Hi,Akhilesh', True}

In [13]:
set3.add('Hi,Python')
set3

{1.618,
 2023,
 3.14,
 False,
 'Hello Python',
 'Hello World',
 'Hi,Akhilesh',
 'Hi,Python',
 True}

In [15]:
print(set3)

{'Hello Python', 1.618, True, 3.14, False, 'Hi,Akhilesh', 'Hi,Python', 2023, 'Hello World'}

# update() function

 __To add multiple element into the set We use update() function.__

In [18]:
x_set={6,7,8,9,10,60}
print(x_set)


x_set.update({3,4,5,6,7,8,9})
print(x_set)

{6, 7, 8, 9, 10, 60}
{3, 4, 5, 6, 7, 8, 9, 10, 60}

# remove() function

 __To remove an element from the set__

In [19]:
x_set

{3, 4, 5, 6, 7, 8, 9, 10, 60}

In [20]:
x_set.remove(60)
x_set

{3, 4, 5, 6, 7, 8, 9, 10}

In [21]:
set3

{1.618,
 2023,
 3.14,
 False,
 'Hello Python',
 'Hello World',
 'Hi,Akhilesh',
 'Hi,Python',
 True}

In [22]:
set3.remove('Hi,Python')
set3

{1.618, 2023, 3.14, False, 'Hello Python', 'Hello World', 'Hi,Akhilesh', True}

# Logic Operations in Sets

In [23]:
# Take two sets 

set4= set(['Hello Python',3.14,1.618,'Hello World'])
set5={3.14,1.618,True,False,2022}

print(set4)
print(set5)

{'Hello Python', 1.618, 3.14, 'Hello World'}
{False, 1.618, True, 3.14, 2022}

In [24]:
set4,set5

({1.618, 3.14, 'Hello Python', 'Hello World'},
 {False, True, 1.618, 3.14, 2022})

# union() function

 __It corresponds to all the elements in both sides.__

In [32]:
set4.union(set5)

{1.618, 2022, 3.14, False, 'Hello Python', 'Hello World', True}

# To find the intersect of two sets using &

In [25]:
intersection=set4&set5
print(intersection)

{1.618, 3.14}

In [26]:
# Other Method

set4.intersection(set5)

{1.618, 3.14}

In [28]:
set4,set5

({1.618, 3.14, 'Hello Python', 'Hello World'},
 {False, True, 1.618, 3.14, 2022})

# difference() function

 __To find the difference between two sets__

In [29]:
print(set4.difference(set5))
print(set5.difference(set4))

{'Hello Python', 'Hello World'}
{False, True, 2022}

In [31]:
# other method

print(set4-set5)
print(set5-set4)

{'Hello Python', 'Hello World'}
{False, True, 2022}

# Set comparison

In [35]:
print(set4>set5)
print(set5>set4)
print(set5==set4)

False
False
False

# min(),max(), sum() function

In [42]:
a=[1,1,1,1,2,2,2,2,3,4,5,6,7,8,9]
b={1,1,1,1,2,2,2,2,3,4,5,6,7,8,9}

print('The minimum number of A is:',min(a))
print('The minimum number of B is:',min(b))
print('The maximum number of A is:',max(a))
print('The maximum number of B is:',max(b))
print('The sum of number A is:',sum(a))
print('The sum of number B is:',sum(b))

The minimum number of A is: 1
The minimum number of B is: 1
The maximum number of A is: 9
The maximum number of B is: 9
The sum of number A is: 54
The sum of number B is: 45

# Index() function

 __This function does not work in set since the set is unordered collections.__

In [47]:
set7={1,2,3,4,5,6,7,8}
set7

{1, 2, 3, 4, 5, 6, 7, 8}

In [48]:
set7[0]

TypeError: 'set' object is not subscriptable

In [53]:
#Deep copy
set8={1,3,5,7,9}
print(set8)
set9=set8
print(set9)

set9.add('hello world')
print(set9)
print(set8)

{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9, 'hello world'}
{1, 3, 5, 7, 9, 'hello world'}

In [57]:
# Swallow copy

set10={1,3,5,7,9}
set11=set10.copy()
print(set10)
print(set11)

set10.add('Hello Akhilesh')
print(set10)
print(set11)

{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9, 'Hello Akhilesh'}
{1, 3, 5, 7, 9}