# 8. Loops in Python
 * __A for loop is used for iteration over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).__
 * __This is less like the for keyword in other programming languages, and works more like an iterator method as found in ohter object- oriented  programming languages.__
 * __With the for loop we can execute a set of statement, once for each item in a list, tuple, set etc.__
 * __The for loop does not require an indexing variable to set beforehand.__
 * __With the while loop we can execute a set of statements as long as a condition is true.__
 * __Note: Remember to increment i, or else the loop will continue forever.__
 * __The while loop requires relevant variables to ready, in this example we need to defien an indexing variable, i, which we set to 1.__


# range() function
 * __It is helpful to think of ;the range object as an ordered list.__
 * __To loop thorough a set of code a specified number of times, we can use the range() function.__
 * __The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1(by default), and ends at specified number.__

In [2]:
# Take a range() function

print(range(10))
print(range(10,100))

range(0, 10)
range(10, 100)

# For loop

 __The for loop enables you to execute a code of multiple times.__

In [3]:
# Directly accessing to the element in the list.

list_year=[2005,2006,2007,2008,2009,2010,2011]


for i in list_year:
    print(i)

2005
2006
2007
2008
2009
2010
2011

In [5]:
# Another examples of for loop

for i in range(10,21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [6]:
for i in range(21):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [11]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [3]:
language=["java","python","C","C++","php","laravel"]

for i in language:
    print(i)

java
python
C
C++
php
laravel

In [8]:
language=["java","python","C","C++","php","laravel"]

for i in range(len(language)):
    print(i,language[i])

0 java
1 python
2 C
3 C++
4 php
5 laravel

# Brake in for loop

In [9]:
for i in range(-3,7):
    print(i)

-3
-2
-1
0
1
2
3
4
5
6

In [11]:
for i in range(-3,7):
    if i==3:
        break
    print(i)

-3
-2
-1
0
1
2

# Continue in for loop

In [12]:
for i in range(-3,7):
    if i==3:
        continue
    print(i)

-3
-2
-1
0
1
2
4
5
6

# for else statement

In [18]:
for i in range(1,6):
    print(i,end=' ')
else:
    print('These are numbers from 1 to 5.')

1 2 3 4 5 These are numbers from 1 to 5.

In [22]:
num=int(input('Enter any number:\n'))

for i in range(1,11):
    print('%d X %d = %d'%(num,i,num*i))

Enter any number:
19
19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171
19 X 10 = 190